.App {
  min-height: 100vh;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
}

.recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe {
  font-style: italic;
  font-weight: 600;
}

.recipe button {
  color: white;
  border-radius: 8px;
  background-color: lightcoral;
  width: 120px;
  margin: 10px;
}
